.display-panel{
    width: 794px; /* 210mm * 3.78 = 794.4px */
    height: 850px; /* 297mm * 3.78 = 1122.66px */
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
     border-radius: 50px;
  }
.personal-info-display{
    width: 100%;
    background-color: darkblue;
    color: white;
    border-radius: 50px 50px 0px 0px;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
}
.name{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0%;
}
.email, .phone-number{
    font-size: 15px;
    font-weight: bold;
}
.education-experience-display{
    width: 100%;
    padding-bottom: 2%;
    
    
}
.education-experience-title{
width: 100%;
  height: fit-content;
  text-align: left;
  background-color: aliceblue;
  color: darkblue;
  padding: 2%;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0px 0px 35px 35px;
  padding-left: 5%;
}
.school, .title-of-study, .date-of-study{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
}
.practical-experience-title{
width: 100%;
  height: fit-content;
  text-align: left;
  background-color: aliceblue;
  color: darkblue;
  padding: 2%;
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50px;
  padding-left: 5%;
}
.practical-experience-display{
    width: 100%;
    border-radius: 50px;
    padding-bottom: 2%;
}
.company, .position, .date, .responsibilities{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
}
.footer{
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: aliceblue;
    color: white;
    padding: 2%;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0px 0px 50px 50px;
}
